<!-- Footer -->
<footer
        class="text-center text-lg-start text-white fixed-bottom"
        style="background-color: #1c2331"
>
    <!-- Section: Social media -->
<!--    <section-->
<!--            class="d-flex justify-content-between p-2"-->
<!--            style="background-color: #6351ce"-->
<!--    >-->
<!--    </section>-->
    <!-- Section: Social media -->

    <!-- Section: Links  -->
<!--    <section class="">-->
<!--        <div class="container text-center text-md-start mt-2">-->

<!--        </div>-->
<!--    </section>-->
    <!-- Section: Links  -->

    <!-- Section: Copyright -->
    <section class="p-0 pt-0">
        <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
                <!-- Copyright -->
                <div class="p-2">
                    © 2020 Copyright:
                    <a class="text-white" href="https://mdbootstrap.com/"
                    >MDBootstrap.com</a
                    >
                </div>
                <!-- Copyright -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                <!-- Blog -->
                <a href="https://pcloud.tistory.com"  class="btn btn-outline-light btn-floating m-1" class="text-white" role="button">
                    <i class="fas fa-blog mr-3"></i>
                </a>
                <!-- Github -->
                <a href="https://github.com/PCloud63514" class="btn btn-outline-light btn-floating m-1" class="text-white" role="button">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Grid column -->
        </div>
    </section>
    <!-- Section: Copyright -->
</footer>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--아이콘-->
<!--https://fontawesome.com/icons-->
<!--script 추가-->
</body>
</html>


